# Managed by chezmoi - edit source, not this file
# Source: ~/.dotfiles/dot_gitconfig.tmpl

[user]
	name = {{ .git_name | quote }}
	email = {{ .git_email | quote }}

[core]
	editor = {{ .editor | default "code --wait" | quote }}
	autocrlf = input
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	line-numbers = true
	syntax-theme = Dracula

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

{{ if eq .chezmoi.os "windows" -}}
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
{{ else -}}
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{ end -}}
